body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 36px 8px 36px;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
}

video   {
    height: inherit;
    width: 500px;
    flex: 1 1 auto;
}

.hero {
    height: 500px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 0px 400px;
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 16px;
    flex: none;
}

.header .logo {
    font-size: 24px;
    font-weight: bolder;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 56px;
}

.hero .left-items {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.hero .main-text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.hero .secondary-text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
}

.hero button{
    color: white;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 400;
}

.content    {
    justify-content: center;
}

.destinations-container {
    gap: 54px;
    padding: 54px;
}

.destinations   {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 54px
}

.content,
.destinations-container,
.dest-1,
.dest-2,
.dest-3,
.dest-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dest-square    {
    /* border: 3px solid #3882F6;*/
    border-radius: 16px;
    width: 150px;
    height: 150px;
    padding: 0px;
    margin-bottom: 8px;
}

.destinations img   {
    width: inherit;
    height: auto;
    flex: 1;
}

.text-below-img {
    width: 150px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

h1  {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    flex: none;
    text-align: center;
    margin: 0px;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 600px;
}
.quote  {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 24px;
    flex: 0 0 auto;
}

.author {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.action-container,
.call-action    {
    display: flex;
}

.action-container   {
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    margin: 120px 200px;
    padding: 50px 120px;
}

.call-action    {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
}

.action-container .upper-text   {
    font-size: 18px;
    font-weight: 900;
}

.action-container .lower-text   {
    font-size: 15px;
    font-weight: 300;
}

.signup-btn-white   {
    border:2px solid white;
    border-radius: 10px;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}